@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


body {
    text-align: center;
}
#big-group {
    margin-top: 50px;
    animation: reload 2s  infinite;
    transform-origin: center;
    transform-box: fill-box;
}
@keyframes reload {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
p {
   font-size: 20px;
}